###Local###
puppet.conf
ssl
.vagrant
.floo
personal.pp
.idea
output
.rspec_system

###Ruby###
 
*.gem
*.rbc
.bundle
.config
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp

